



<div *ngIf="!signinToDo;"><br>
  <ul class="nav nav-tab sticky-top bg-dark"><br>
    
      <li> <a  [routerLink]="'/signup'" > &nbsp; signUp &nbsp; </a></li>
      <li> <a  [routerLink]="'/signin'" > &nbsp; signIn &nbsp; </a></li>
 
  </ul>
</div>
<div *ngIf="signinToDo;"><br>
  <ul class="nav nav-tab sticky-top bg-dark"><br>
    
      <li> <button  (click)="signout()"> &nbsp; logout &nbsp; </button></li>
      <li> </li>

  </ul>
</div>

<div style="text-align: center; margin-top: 10px;" >
  <router-outlet ></router-outlet>
</div>